---
const tagline = "Hello, Paddock";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Paddock</title>
  </head>
  <body>
    <h1>{tagline}</h1>
  </body>
</html>
